<p id="step"></p>

<!-- <%console.log(products[0])%> -->
<div class="column is-three-quarters-mobile">
    <div class="column">
        <div class="field">
            <label class="label">Product</label>
            <div class="control">
                <div class="select is-rounded">
                    <select id="selProduct">
                        <option>Select dropdown</option>
                        <%products.forEach(product => {%>
                            <option value=<%- product.code %>>
                                <%- product.name %>
                            </option>
                            <%})%>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Farm-Zone-Pond_Crop</label>
            <div class="control">
                <div class="select is-rounded">
                    <select id="selFarmorg">
                        <option>Select dropdown</option>
                        <%farmorgs.forEach(farmorg => {%>
                            <option value=<%- farmorg.code %>>
                                <%- farmorg.name %>
                            </option>
                            <%})%>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Qty</label>
            <div class="control">
                <input class="input" type="number" id="inputQty" placeholder="Qty">
            </div>
        </div>
        <div class="field">
            <label class="label">Wgh</label>
            <div class="control">
                <input class="input" type="number" id="inputWgh" placeholder="Wgh">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" id="btnSave" onclick="funcLiff()">Save</button>
            </div>
            <div class="control">
                <button class="button is-text" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    liff.init(
        data => {
            // Now you can call LIFF API
            const userId = data.context.userId
            liff.getProfile().then(profile => {
                    $('#step').text('Hello profile : ' + profile.displayName) //profile.userId
                })
                .catch((err) => {
                    $('#step').text('Error : ' + err)
                })
            /*liff.openWindow({
                url:'https://google.com',
                external:true
            })*/
        },
        err => {
            // LIFF initialization failed
        }
    )

    $(function () {
        $('#btnCancel').click(function () { 
            liff.sendMessages([{
                    type: 'text',
                    text: 'productCode : ' + $('#selProduct').val()
                }
            ]).then(() => {
                liff.closeWindow()
            }).catch((err) => {
                console.log('error', err)
            })
        })
    })

    function funcLiff() {
        console.log('cccc')
        liff.sendMessages([{
                type: 'text',
                text: $('#selProduct').val() + '|' + $('#selFarmorg').val()  + '|' + $('#inputQty').val()  + '|' + $('#inputWgh').val()
            }
        ]).then(() => {
            liff.closeWindow()
        }).catch((err) => {
            console.log('error', err)
        })
    }



    // console.log('liff')
    //     console.log(document.getElementById("selProduct").value)
    //     document.getElementById("step").innerHTML = "func liff"
    //     liff.init(
    //         data => {
    //             // Now you can call LIFF API
    //             document.getElementById("step").innerHTML = "liff.init"
    //             const userId = data.context.userId

    //             liff.getProfile().then((profile) => {
    //                 document.getElementById("step").innerHTML = "liff.getProfile"
    //                 liff.sendMessages([{
    //                         type: 'text',
    //                         text: 'productName : ' + 'Product Test'
    //                     },
    //                     {
    //                         type: 'text',
    //                         text: 'From : ' + profile.displayName
    //                     }
    //                 ]).then(() => {
    //                     console.log('message sent')
    //                     document.getElementById("step").innerHTML = "liff.closeWindow"
    //                     liff.closeWindow()
    //                 }).catch((err) => {
    //                     console.log('error', err)
    //                 })
    //             }).catch((err) => {
    //                 console.log('error', err)
    //             })
    //         },
    //         err => {
    //             // LIFF initialization failed
    //         }
    //     )
</script>