<h2>Calling the LIFF Product</h2>
<%console.log(products[0])%>
    <select id="selProduct" onchange="liff()">
        <%products.forEach(product => {%>
            <option value=<%- product.id %>>
                <%- product.name %>
            </option>
            <%})%>
    </select>

    <script>
        $(window).on('load', function () {
            console.log('liff.init')
            // Initializes a LIFF app 
        })

        function liff() {
            console.log('liff')
            console.log(document.getElementById('selProduct').value)

            liff.init(
                data => {
                    // Now you can call LIFF API
                    const userId = data.context.userId
                },
                err => {
                    // LIFF initialization failed
                }
            )
            liff.getProfile().then((profile) => {
                liff.sendMessages([{
                        type: 'text',
                        text: 'productName:' + document.getElementById('selProduct').value
                    },
                    {
                        type: 'text',
                        text: 'From:' + profile.displayName
                    }
                ]).then(() => {
                    console.log('message sent');
                    liff.closeWindow()
                }).catch((err) => {
                    console.log('error', err);
                })
            }).catch((err) => {
                console.log('error', err);
            });
        }
    </script>