<h2>Calling the LIFF Product</h2>
<%console.log(products[0])%>
    <select id="selProduct" onchange="liff()">
        <%products.forEach(product => {%>
            <option value=<%- product.id %>>
                <%- product.name %>
            </option>
            <%})%>
    </select>
    <p id="step"></p>
    <script>
        $(window).on('load', function () {
            console.log('liff.init')
            // Initializes a LIFF app 
        })

        function liff() {
            console.log('liff')
            console.log(document.getElementById('selProduct').value)
            document.getElementById("step").innerHTML = "func liff"
            liff.init(
                data => {
                    // Now you can call LIFF API
                    document.getElementById("step").innerHTML = "liff.init"
                    const userId = data.context.userId
                },
                err => {
                    // LIFF initialization failed
                }
            )
            liff.getProfile().then((profile) => {
                document.getElementById("step").innerHTML = "liff.getProfile"
                liff.sendMessages([{
                        type: 'text',
                        text: 'productName : ' + 'Product Test'
                    },
                    {
                        type: 'text',
                        text: 'From : ' + profile.displayName
                    }
                ]).then(() => {
                    console.log('message sent');
                    document.getElementById("step").innerHTML = "liff.closeWindow"
                    liff.closeWindow()
                }).catch((err) => {
                    console.log('error', err);
                })
            }).catch((err) => {
                console.log('error', err);
            });
        }
    </script>